:root {
  /* Indigo */
  --color-brand-50: #fcfcfc;

  /* Grey */
  --color-grey-0: #f1eeee;
  --color-text-0: #191919;
  --color-grey-50: #f9fafb;
  --color-grey-100: #767a7e42;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --bg-img: url(./images/bg-light.jpg);

  /* For dark mode */
  --image-grayscale: 0;
  --image-opacity: 100%;
}

:root.dark-mode {
  /* Indigo */
  --color-brand-50: #1e2132; /* Darker indigo */

  /* Grey */
  --color-grey-0: #1f2937; /* Dark background */
  --color-text-0: #f1f1f1;
  --color-grey-50: #374151; /* Slightly lighter dark background */

  --shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(255, 255, 255, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(255, 255, 255, 0.12);

  --bg-img: url(./images/bg-dark.jpg);

  /* For dark mode */
  --image-grayscale: 20%;
  --image-opacity: 90%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  color: var(--color-text-0);
}
#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top {
  background: var(--bg-img);
  flex: 2;
}
.bottom {
  background-color: var(--color-grey-0);
  flex: 4;
}

#container {
  /* border: 1px solid #000; */
  max-width: 600px;
  padding: 2rem;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
  }

  button {
    background: none;
    outline: none;
    border: none;
    i {
      color: white;
      font-size: 2rem;
    }
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  p {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
  }

  button {
    background: none;
    outline: none;
    border: none;
    i {
      color: white;
      font-size: 2rem;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.5rem;
  margin-bottom: 2.5rem;
  background-color: var(--color-brand-50);
  border-radius: 0 0 5px 5px;
  font-size: 0.7rem;
  div#toggle-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
  button {
    border: none;
    background: transparent;
    color: var(--color-text-0);
    cursor: pointer;
  }
}

ul {
  background-color: var(--color-brand-50);
  border-radius: 5px 5px 0 0;
  margin-top: 1.2rem;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  box-shadow: var(--shadow-md);
  border-bottom: 1px solid var(--color-grey-100);
}

ul li {
  border-bottom: 1px solid var(--color-grey-100);
  padding: 0.6rem 0.2rem;
}
ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-100);
}

ul li input[type="checkbox"] {
  margin-right: 1rem;
}
ul li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

input[type="text"] {
  background-color: var(--color-brand-50);
  border: none;
  width: 100%;
  color: var(--color-text-0);
  padding: 0.9rem 2rem;
  /* margin-top: -2rem; */
  border-radius: 5px;
}
.status-filter {
  cursor: pointer;
}

.active,
.active:hover {
  color: aqua;
}

/*
  */

/* <div class="checkbox-wrapper-11">
  <input id="02-11" type="checkbox" name="r" value="2">
  <label for="02-11">To-do</label>
</div> */

/* .checkbox-wrapper-11 {
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  position: relative;
  padding: 5px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}
.checkbox-wrapper-11 label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.3s ease;
}
.checkbox-wrapper-11 label::before,
.checkbox-wrapper-11 label::after {
  content: "";
  position: absolute;
}
.checkbox-wrapper-11 label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
.checkbox-wrapper-11 label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
.checkbox-wrapper-11 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
.checkbox-wrapper-11 input[type="checkbox"]::before,
.checkbox-wrapper-11 input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
.checkbox-wrapper-11 input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
.checkbox-wrapper-11 input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
.checkbox-wrapper-11 input[type="checkbox"]:checked::before {
  -webkit-animation: check-01-11 0.4s ease forwards;
  animation: check-01-11 0.4s ease forwards;
}
.checkbox-wrapper-11 input[type="checkbox"]:checked::after {
  -webkit-animation: check-02-11 0.4s ease forwards;
  animation: check-02-11 0.4s ease forwards;
}
.checkbox-wrapper-11 input[type="checkbox"]:checked + label {
  color: var(--disabled);
  -webkit-animation: move-11 0.3s ease 0.1s forwards;
  animation: move-11 0.3s ease 0.1s forwards;
}
.checkbox-wrapper-11 input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  -webkit-animation: slice-11 0.4s ease forwards;
  animation: slice-11 0.4s ease forwards;
}
.checkbox-wrapper-11 input[type="checkbox"]:checked + label::after {
  -webkit-animation: firework-11 0.5s ease forwards 0.1s;
  animation: firework-11 0.5s ease forwards 0.1s;
}

@-webkit-keyframes move-11 {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes move-11 {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@-webkit-keyframes slice-11 {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes slice-11 {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@-webkit-keyframes check-01-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-01-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes check-02-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes check-02-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes firework-11 {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}
@keyframes firework-11 {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}

sc */
